[submodule "fpga/3rd_parties/async_fifo"]
	path = fpga/3rd_parties/async_fifo
	url = https://github.com/dpretet/async_fifo.git
[submodule "fpga/3rd_parties/sdram-controller"]
	path = fpga/3rd_parties/sdram-controller
	url = https://github.com/stffrdhrn/sdram-controller.git
